<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <h2><%= planent_Name %></h2>
    <%=planentInfo.description%><br>
    <img src="<%=planentInfo.image%>" width=300>
    

</body>
</html>